body{
    font-family: "Agency FB" !important;
}

input{
    padding-bottom: 10px;
    padding-top: 10px;

}

.menu1{
    color: #A6A8AA;
    font-size: 14px;
    margin: 5px;
    font-weight: bold;
}

.menu1:hover {
    color: #9B834D;
    text-decoration: none;
}

.menu2{
    color: #242730;
    font-size: medium;
    margin: 15px;
    font-weight: bold;
}

.menu2:hover {
    color: #9B834D;
    text-decoration: none;
}

.foruser{
    color: #242730;
    font-weight: 400;
    font-size: medium;
    margin: 5px;
}

.foruser:hover{
    color: #242730;
    text-decoration: none;
}

.link{
    color: #242730;
    font-weight: 900;
}

.link:hover{
    color: #242730;
    text-decoration: none;
}

.link2{
    color: #242730;
    font-weight: 900;
}

.link2:hover{
    color: #9B834D;
    text-decoration: none;
}

.boldtext{
    font-weight: 900;
}

.normtext{
    color: #A6A8AA;
    font-size: medium;
    font-weight: normal;
}

.headers{
    color: #242730;
    text-align: center;
    padding: 20px;
}

.form_button{
    color : #FFFFFF;
    background-color: black;
    font-size: medium;
    border-radius: 0px !important;
}

.form_shop_button{
    color : #FFFFFF;
    background-color: #9B834D;
    font-weight: 900 !important;
    border-radius: 0px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.form_input{
    width: 40%;
    border: none;
    background-color: #FFFFFF;
    transition: 0.3s;
}

.squere {
    width: 50px;	height: 50px; /* Размеры */
    outline: 1px solid #000; /* Чёрная рамка */
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.squere:hover{
    background-color: black;
    color: #F7F7F7;
}

.container_media {
    display: flex;
    flex-direction: row;
}

.container_for_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_footer{
    display: flex;
    flex-direction: column;
}

.container_for_her_and_him{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_reverse{
    display: flex;
    flex-direction: row-reverse;
}

.footer1{
    padding: 50px;
}

.mainpart{
    padding: 150px;
}

.edd_info{
    margin: 50px;
}

.little_indent{
    margin-top: 10px;
    margin-bottom: 10px;
}


.indent{
    margin-top: 20px;
    margin-bottom: 20px;
}

.indent_both_sides{
    margin-left: 15px;
    margin-right: 15px;
}

.no_indent{
    margin: 0px;
}

.indent_side{
    margin-right: 15px !important;
}

.text_in_cards{
    color: #242730;
    font-size: 70px;
    margin: 0px;
    padding: 0px;
}

.center{
    text-align: center;
}

.maincolor {
    color: #9B834D;
}

.dark{
    color: #242730;
}

.gray{
    color: #A6A8AA;
}

.white{
    color: #F7F7F7 ;
}

.fontcolor{
    background-color: #F7F7F7;
}

.marone{
    color: #C5B093;
}

.dark_fontcolor{
    background-color: #242730;
}

.for_them_align{
    align-items: flex-end;
}

.for{
    margin-bottom: 10px;
    margin-right: 10px !important;
}

.her{
    margin-right: 80px !important;
    margin-bottom: 150px;
    margin-top: 150px;
}

.him{
    margin-left: 80px !important;
    margin-bottom: 150px;
    margin-top: 150px;
}

.him_shop{
    padding-left: 0px !important;
}

.border_bottom{
    border-bottom: 1px solid #A6A8AA;
}

.borders{
    border-bottom: 1px solid #A6A8AA;
    border-top: 1px solid #A6A8AA;
}

.rborder{
    border-right: 1px solid #A6A8AA;
}

.block_5{
    width: 5% ;
}

.block_10{
    width: 10% ;
}

.block_15{
    width: 15% ;
}

.block_20{
    width: 20% ;
}

.block_25{
    width: 25% ;
}

.block_30{
    width: 30% ;
}

.block_50{
    width: 50% ;
}

.block_65{
    width: 65% ;
}

.block_75{
    width: 75% ;
}

.block_80{
    width: 80%;
}




/*-----------------product_list--------------------------*/




.fsize_up{
    font-size: 19px;
}

.filter_button{
    color : #242730 !important;
    background-color: #F7F7F7 !important;
    font-weight: 900 !important;
    border-radius: 0px !important;
    border: 1px solid #242730 !important;
}

.filter_button:hover{
    color : #F7F7F7 !important;
    background-color: #9B834D !important;
    font-weight: 900 !important;
    border-radius: 0px !important;
    border: 1px solid #9B834D !important;
}

.catalog_block{
    margin-left: 20%;
    margin-right: 10%;
    margin-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.page_button_pasive{
    color : #242730;
    border: 1px solid #242730 !important;
    background-color: #FFFFFF;
    border-radius: 0px !important;

}

.page_button_pasive:hover{
    color : #F7F7F7;
    background-color: #242730;
}

.page_button_active{
    color : #F7F7F7;
    background-color: #242730;
    border-radius: 0px !important;
}

.container_catalog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.allborders{
    border: 1px solid #A6A8AA;
}

.all_without_top{
    border-right: 1px solid #A6A8AA;
    border-left: 1px solid #A6A8AA;
    border-bottom: 1px solid #A6A8AA;
}

.lrborder{
    border-left: 1px solid #A6A8AA;
    border-right: 1px solid #A6A8AA;
}

.indent_top{
    margin-top: 20px;
}

.indent_bottom{
    margin-bottom: 20px;
}

.chbspan{
    width: 18px;
    height: 18px;
    border: 1px solid #242730;
    border-radius: 2px;
}

.chbspan:active{
    background-image: url("img/galka.jpg");
    background-size: 100%;
    border: 1px solid #9B834D;
}

.check_box{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 25px;
}

.check_box_style{
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid #242730;
    border-radius: 2px;
    margin-left: 25px;
}

.check_box:checked + .check_box_style{

    background-image: url("img/galka.jpg");
    background-color: #9B834D;
    background-size: 100%;
    border: 1px solid #9B834D;
}

/*-----------------product_list--------------------------*/



.product_list_indent1{
    margin-left: 10%;
    margin-top: 15%;
    margin-right: 20%;
}


.product_list_indent2{
    margin-left: 20%;
    margin-top: 15%;
    margin-right: 10%;
}

.big_indent_between{
    margin-top: 70px;
}

.horizontal_indent{
    margin-right: 15px;
    margin-left: 15px;
}

.p_n{
    font-weight: 700;
    color: #9B834D;
}

.p_n:hover{
    color: #9B834D;
    text-decoration: none;
}

.product_nav{
    font-weight: 700;
    color: #242730;
}

.product_nav:hover{
    color: #9B834D;
    text-decoration: none;
}

.rpadding5{
    padding-right: 5px;
}

.add_to_wishlist_button{
    background-color: #FFFFFF;
    color: #242730;
    font-weight: 900 !important;
}

.add_to_wishlist_button:hover{
    color: #A6A8AA;
}

.input_number{
    text-align: center;
    font-size: 22px;
    border: none;
}

.rmargin10{
    margin-right: 10px;
    margin-bottom: 0px;
}

.img_social{
    color: #A6A8AA;
    font-weight: bold;
}

.img_social:hover {
    color: #9B834D;
    text-decoration: none;
}

.paddings{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.paddingtop3{
    padding-top: 3px;
}

.fsize_down{
    font-size: 14px;
}

.menu_block{
    padding-right: 30%;
    padding-left: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search_block{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lindent{
    margin-left: 10px;
}

.phone_indent {
    margin-top: 8px;
}

.container_center{
    display: flex;
    justify-content: center;
}