body{
    font-family: "Agency FB" !important;
}

#logo{
    color: #9B834D;
    font-size: x-large;
    margin: 5px;
    text-decoration: none;
}

input{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
}

.menu1{
    color: #A6A8AA;
    font-size: small;
    margin: 5px;
    font-weight: bold;
}

.menu1:hover {
    color: #9B834D;
    text-decoration: none;
}

.menu2{
    color: #242730;
    font-size: medium;
    margin: 15px;
    font-weight: bold;
}

.menu2:hover {
    color: #9B834D;
    text-decoration: none;
}

.foruser{
    color: #242730;
    font-weight: 400;
    font-size: medium;
    margin: 5px;
}

.foruser:hover{
    color: #242730;
    text-decoration: none;
}

.link{
    color: #242730;
    font-weight: 900;
}

.link:hover{
    color: #242730;
    text-decoration: none;
}

.link2{
    color: #242730;
    font-weight: 900;
}

.link2:hover{
    color: #9B834D;
    text-decoration: none;
}

.boldtext{
    font-weight: 900;
}

.normtext{
    color: #A6A8AA;
    font-size: medium;
    font-weight: normal;
}

.headers{
    color: #242730;
    text-align: center;
    padding: 20px;
}

.form_button{
    color : #FFFFFF;
    background-color: black;
    font-size: medium;
    border-radius: 0px !important;
}

.form_shop_button{
    color : #FFFFFF;
    background-color: #9B834D;
    font-weight: 900 !important;
    border-radius: 0px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.form_input{
    width: 40%;
    border: none;
    background-color: #FFFFFF;
    transition: 0.3s;
}

.squere {
    width: 50px;	height: 50px; /* Размеры */
    outline: 1px solid #000; /* Чёрная рамка */
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.squere:hover{
    background-color: black;
    color: #F7F7F7;
}

.container_media {
    display: flex;
    flex-direction: row;
}

.container_for_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_footer{
    display: flex;
    flex-direction: column;
}

.container_for_her_and_him{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_reverse{
    display: flex;
    flex-direction: row-reverse;
}

.footer1{
    padding: 50px;
}

.mainpart{
    padding: 150px;
}

.edd_info{
    margin: 50px;
}

.indent{
    margin-top: 20px;
    margin-bottom: 20px;
}

.no_indent{
    margin: 0px;
}

.indent_side{
    margin-right: 15px !important;
}

.text_in_cards{
    color: #242730;
    font-size: 70px;
    margin: 0px;
    padding: 0px;
}

.center{
    text-align: center;
}

.maincolor {
    color: #9B834D;
}

.dark{
    color: #242730;
}

.gray{
    color: #A6A8AA;
}

.white{
    color: #F7F7F7 ;
}

.fontcolor{
    background-color: #F7F7F7;
}

.marone{
    color: #C5B093;
}

.dark_fontcolor{
    background-color: #242730;
}

.for_them_align{
    align-items: flex-end;
}

.for{
    margin-bottom: 10px;
    margin-right: 10px !important;
}

.her{
    margin-right: 80px !important;
    margin-bottom: 150px;
    margin-top: 150px;
}

.him{
    margin-left: 80px !important;
    margin-bottom: 150px;
    margin-top: 150px;
}

.him_shop{
    padding-left: 0px !important;
}

.border_bottom{
    border-bottom: 1px solid #A6A8AA;
}

.borders{
    border-bottom: 1px solid #A6A8AA;
    border-top: 1px solid #A6A8AA;
}

.rborder{
    border-right: 1px solid #A6A8AA;
}

.block_80{
    width: 80% !important;
}

.block_50{
    width: 50% !important;
}

.block_25{
    width: 25% !important;
}

.block_20{
    width: 20% !important;
}